a.card-link {
	color:inherit;
	transition: all .3s ease-out;
	box-shadow:0 0 10px rgba(255,255,255,0.25);
	
	&:hover {
		transform:translate(0,-10px);
		box-shadow:0 10px 20px rgba(0,0,0,.25);
	}
	&:active {
		transform:translate(0,-5px);
		box-shadow:0 0 20px  rgba(255,255,255,1);
	}
}